header {
  position: fixed;
  display: flex;
  width: 100%;
  height: 80px;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  align-items: center;
  z-index: 5;
  background-color: white;
}

.title span {
  color: mediumaquamarine;
}

.title {
  display: flex;
  align-items: center;
  padding-left: 30px;
  flex-grow: 1;
}

.title img {
  width: 70px;
  height: 60px;
  margin-right: 12px;
}

header nav {
  padding-right: 40px;
}

a {
  color: black;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

body {
  margin: 0;
}

.container {
  display: flex;
  width: 1232px;
  margin: 0 auto 78px auto;
  padding-top: 116px;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}

.main-story .image-content {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png");
  width: 630px;
  height: 300px;
  text-align: left;
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
}

.earth-story {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png");
}

.camera-story {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png");
}

.cat-story {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png");
}

.content span,
.content p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.image-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
  margin-top: 15px;
}

.stories {
  display: flex;
  justify-content: space-between;
}

.stories .text-content {
  height: 250px;
}

.story {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.narration {
  margin-top: 16px;
}
.short-news h3 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 41px;
}

.short-news  .short {
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  border-bottom: 1px solid black;
  display: block;
  padding: 11px 20px;
}

.cookie {
  height: 240px;
}

footer {
  background-color: MediumAquamarine;
  margin: auto;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 325px;
}

footer .name {
  display: inline-block;
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding-right: 25px;
  border-right: 2px solid white;
}

footer nav {
  display: inline-block;
  padding-left: 25px;
}

/*footer a {
  color: white;
}*/

/*footer a,
.footer span {
  text-align: center;
}*/
